# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv-s/

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
to-dos.txt
req.txt
folder*.txt
*.sql
.vscode/
.trash/
.pytest_cache/
logs/
geoip/
simulation/
monitoring_status.json
app.log
node_modules/
app/__*
sigma-rules/
xtar/
*.db
docs/
*.docx
*.json
*.log
